
  /* Stili di base per tutti i dispositivi */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Stili per dispositivi con viewport width inferiore a 600px */
@media only screen and (max-width: 599px) {
  .container {
    width: 100%;
  }

  /* Aggiungi altri stili qui se necessario */
}

/* Stili per dispositivi con viewport width compreso tra 600px e 959px */
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .container {
    width: 90%;
  }

  /* Aggiungi altri stili qui se necessario */
}

/* Stili per dispositivi con viewport width superiore a 960px */
@media only screen and (min-width: 960px) {
  .container {
    width: 80%;
  }

  /* Aggiungi altri stili qui se necessario */
}

